<h3>Open Source Software</h3>

<p>The source code for this plugin is released under an Apache 2 license and
can be found on <a href="https://bitbucket.org/keysight/keysight-plugins-for-atlassian-products">
Bitbucket Cloud</a>.</p>

<p>You can view or submit bugs or feature requests using Bitbucket's issue
tracker.  To contact the support team directly, you can send an email to <a
href="mailto:pdl-atlassian-plugin-development@keysight.com">
pdl-atlassian-plugin-development@keysight.com</a>.  A slack team has been setup
for the plugins.  If you would like to join, send an email to <a
href="mailto:pdl-atlassian-plugin-development@keysight.com">the support
team</a> requesting an invite and one will be sent to you.<p>
