<h3>Introduction</h3>

<p>Learning Products Internal</p>

<p>This macro wraps the content with tags 
marking it as text that should only be 
exposed to the internal development team. 
It is not exposed to the broader Keysight
internal audience nor external customers.</p>

<p>For content that should be available across
Keysight, use the <b>LP Keysight Intranet</b> 
macro.</p>
