/* Station Status Navigation Box Styles */
.database-query-container,
.macro-results-cache-container{
   border: 0;
   background: none;
   border-radius: 0;
}

.database-query-box,
.macro-results-cache-box{
   border-style: solid;
   border-width: 1px;
   overflow: hidden;
}

.database-query-top,
.macro-results-cache-top{
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   -moz-border-radius-topleft: 8px;
   -moz-border-radius-topright: 8px;
   -webkit-border-top-left-radius: 8px;
   -webkit-border-top-right-radius: 8px;
}

.database-query-body-container,
.macro-results-cache-body-container{
   border-style: solid;
   border-width: 1px;
   overflow: hidden;
}

.database-query-bottom,
.macro-results-cache-bottom{
   font-size:.95em
   text-align:left;
   padding:10px;

   border-bottom: 1px solid #555555;
   border-left: 1px solid #555555;
   border-right: 1px solid #555555;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   -moz-border-radius-bottomleft: 8px;
   -moz-border-radius-bottomright: 8px;
   -webkit-border-bottom-left-radius: 8px;
   -webkit-border-bottom-right-radius: 8px;
}
