#set( $images = "${webResourceHelper.getStaticResourcePrefix()}/download/resources/com.keysight.test-ecosystem:test-ecosystem-resources/images" )
<div class="dashboard-item wiki-content">

<div class="test-ecosystem-dashboard-item">
<span class="test-ecosystem-dashboard-item-icon" style="background-image:url($images/keysight-logo-48x48.png);">Icon</span>
<div class="test-ecosystem-dashboard-item-body">
<a href="/display/KSF">Keysight Software Development:</a> Information
about Software Development within Keysight
<ul>
   <li><a href="/display/KSF">KSF</a></li>
   <li><a href="/display/KOSi">KOSi</a></li>
   <li><a href="/display/keysightGuilds">Keysight Guilds</a></li>
</ul>
</div>
</div>

<div class="test-ecosystem-dashboard-item">
<span class="test-ecosystem-dashboard-item-icon" style="background-image:url($images/test-ecosystem-logo-48x48.png);">Icon</span>
<div class="test-ecosystem-dashboard-item-body">
<a href="/display/TestEcosystem">The Test Ecosystem:</a> A collection of spaces
used to document a number of manufacturing applications such as
<ul>
   <li><a href="/display/presidio">Presidio</a></li>
   <li><a href="/display/gondor">Gondor</a></li>
   <li><a href="/display/zeno">Zeno</a></li>
   <li><a href="/display/ofapps">of_apps</a></li>
</ul>
</div>
</div>

</div>
